:root {
  --sidebar-bg: #176298;
  --sidebar-text: #ccf0ff;
  --button-bg: #176298;
  --button-text: white;
  --content-bg: #ccf0ff;
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 0px;
  --toggle-button-size: 40px;
  --toggle-button-offset: 10px;
  --content-left-margin: 50px;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}

.container {
  padding: 30px 15px;
}

/* Navbar estilo limpio */
nav.navbar {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

nav.navbar .navbar-brand {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

nav.navbar .nav-link {
  font-weight: 500;
  color: #555;
  margin: 0 10px;
  text-transform: uppercase;
}

nav.navbar .nav-link:hover {
  color: --sidebar-bg;
}

nav.navbar .nav-link.active {
  color: --sidebar-bg;
  font-weight: 700;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 30px;
  background-color: white; /* Asegura que el fondo de la tarjeta sea blanco */
}

.card-header {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  padding: 0;
}

.form-group label {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.form-control {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-top: 10px;
  background-color: #fff; /* Fondo blanco en los campos */
}

.btn-primary {
  background-color: --sidebar-bg;
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1E3C72;
}

.text-info {
  color: #1E3C72;
  font-weight: 600;
  text-decoration: none;
}

.text-info:hover {
  color: --sidebar-bg;
  text-decoration: underline;
}

/* Ajustes para el sidebar */
.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  width: var(--sidebar-width);
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
}

/* Ajustes móviles */
@media (max-width: 768px) {
  .navbar-nav {
    display: block;
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin-bottom: 10px;
    display: block;
  }

  /* Convertir el navbar en un desplegable */
  nav.navbar .navbar-toggler {
    border: 1px solid #ddd;
    background-color: #fff;
  }

  .card {
    padding: 20px;
  }

  .btn-primary {
    padding: 10px 20px;
  }
}
